apiVersion: v1
kind: Service
metadata:
  name: cats-dogs-classifier
  labels:
    app: cats-dogs-classifier
    component: ml-inference
spec:
  type: LoadBalancer
  selector:
    app: cats-dogs-classifier
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    protocol: TCP
  sessionAffinity: None
